name: Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SA }}
      - name: Configure Docker to use gcloud as a credential helper
        run: gcloud auth configure-docker --quiet
      - name: Build Docker image
        run: |
          docker build -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/cloud-file-storage:${{ github.sha }} .
      - name: Push to Google Container Registry
        run: |
          docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/cloud-file-storage:${{ github.sha }}
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy cloud-file-storage \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/cloud-file-storage:${{ github.sha }} \
            --region ${{ secrets.GCP_REGION }} \
            --platform managed \
            --allow-unauthenticated
